<h2 mat-dialog-title>Grupo</h2>

<mat-dialog-content>

  <mat-form-field>
    <mat-label>Numero Grupo:</mat-label>
    <input matInput type="number" #grupo>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Valor:</mat-label>
    <input matInput type="number" #valor>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Cabeça:</mat-label>
    <input matInput type="number" #head>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button mat-button mat-dialog-close>
    Cancelar
  </button>

  <button
    mat-raised-button
    (click)="apostar(grupo.value, valor.value, head.value)">
    Concluir aposta
  </button>

</mat-dialog-actions>